<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.remindme">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher1_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RemindMe">
        <activity
            android:name=".splashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectFile"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".PdfReader" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".DetailedActivity"
            android:exported="false" />
        <activity
            android:name=".viewEvents"
            android:exported="false" />
        <activity
            android:name=".ChangePassword"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".deleteEvent" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".update" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".AfterUpdate" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ADD_EVENTS"
            android:exported="false" />
        <activity
            android:name=".Events_page"
            android:exported="false" />
        <activity
            android:name=".forgotpass_page"
            android:exported="false" />
        <activity
            android:name=".register"
            android:exported="false" />
        <activity
            android:name=".loggedin"
            android:exported="false">

        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>